.game-card
  width: 18%
  height: 50px
  border-radius: 5px
  margin: 2px
  display: block
  cursor: pointer
  text-align: center
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

@media only screen and (max-width: 600px)
  .game-card
    font-size: 12px

.game-card-BLUE
  background-color: rgba(34, 55, 171, 0.2)


.game-card-BLACK
  background-color: rgba(36, 38, 46, 0.4)

.game-card-RED
  background-color: rgba(191, 30, 6, 0.2)

.game-card-NEUTRAL
  background-color: rgba(219, 211, 167, 0.5)

.game-card-NOT_PLAYED
  background-color: rgba(232, 232, 232, 0.5)
