.color-GREEN
  background-color: var(--uno-green)

.color-YELLOW
  background-color: var(--uno-yellow)

.color-BLUE
  background-color: var(--uno-blue)

.color-RED
  background-color: var(--uno-red)

.selector
  width: 45%
  height: 90px
  border-radius: 5px

