<div class="d-flex flex-column"
     [ngClass]="team">
    <div>
        <h2>
            Equipe {{ team === CodeNameColor.RED ? 'Rouge' : 'Bleue'}}
        </h2>
    </div>
    <ng-container *ngFor="let spy of spies">
        <app-spy *ngIf="spy.team === team"
                 [spy]="spy">
        </app-spy>
    </ng-container>
</div>
