<div class="p-1 cursor w-100">
    <div class="square square-GREEN w-25 d-inline-block"></div>
    <div class="square square-YELLOW w-25 d-inline-block"></div>
    <div class="square square-BLUE w-25 d-inline-block"></div>
    <div class="square square-RED w-25 d-inline-block"></div>
</div>
