.uno-card
  display: block
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.header
  max-height: 200px

.name-size
  max-width: 150px

@media only screen and (max-width: 600px)
  .name-size
    max-width: 100px
