<div>
    <ng-container *ngIf="game.joinable">
        <button class="btn btn-light mr-1" (click)="onJoin(game)">
            Rejoindre
        </button>
    </ng-container>
    <ng-container *ngIf="!game.joinable">
        <button class="btn btn-light" (click)="onReplay(game)">
            Rejoindre
        </button>
    </ng-container>
</div>
