::ng-deep .color-GREEN
  fill: var(--uno-green)

::ng-deep .color-YELLOW
  fill: var(--uno-yellow)

::ng-deep .color-BLUE
  fill: var(--uno-blue)

::ng-deep .color-RED
  fill: var(--uno-red)


.active-GREEN
  ::ng-deep
    .color-RED
      fill: var(--uno-green) !important

    .color-YELLOW
      fill: var(--uno-green) !important

    .color-BLUE
      fill: var(--uno-green) !important

.active-YELLOW
  ::ng-deep
    .color-GREEN
      fill: var(--uno-yellow) !important

    .color-RED
      fill: var(--uno-yellow) !important

    .color-BLUE
      fill: var(--uno-yellow) !important

.active-BLUE
  ::ng-deep
    .color-GREEN
      fill: var(--uno-blue) !important

    .color-YELLOW
      fill: var(--uno-blue) !important

    .color-RED
      fill: var(--uno-blue) !important

.active-RED
  ::ng-deep
    .color-GREEN
      fill: var(--uno-red) !important

    .color-YELLOW
      fill: var(--uno-red) !important

    .color-BLUE
      fill: var(--uno-red) !important
