<h2 class="text-center">Liste des parties en cours</h2>

<div>
    <div class="d-flex d-inline-flex">
        <button class="btn btn-primary m-1" (click)="onNewGame(GameType.UNO)">
            Nouveau Uno
        </button>
        <button class="btn btn-primary m-1" (click)="onNewGame(GameType.CODE_NAMES)">
            Nouveau Code names
        </button>
    </div>
    <div class="p-1">
        <input [value]="filter" (input)="filter = $event.target.value" class="form-control" placeholder="Filtre...">
    </div>
</div>
<ul class="list-group m-1">
    <li *ngFor="let game of games | gameFilter: filter" class="list-group-item">
        <div>
            <b>{{game.type}}</b> - {{game.name}}
            <span *ngIf="game.guuid === guuid" class="font-weight-bold">new</span>
        </div>
        <div *ngIf="game.playerNames != null && game.playerNames.length > 0">
            <span class="font-weight-bold">Joueurs : </span>
            <ng-container *ngFor="let player of game.playerNames; let i = index">
                <ng-container *ngIf="i !== 0"> ,</ng-container>
                {{player}}
            </ng-container>
        </div>
        <app-code-name-game
                *ngIf="game.type === GameType.CODE_NAMES"
                [game]="game">
        </app-code-name-game>
        <app-uno-game
                *ngIf="game.type === GameType.UNO"
                [game]="game">
        </app-uno-game>
    </li>
</ul>
