/* You can add global styles to this file, and also import other style files */
@media only screen and (max-width: 600px)
  h2
    font-size: 1.5rem

  h4
    font-size: 1rem


.BLUE
  color: darkblue

.RED
  color: darkred

.selector
  cursor: pointer

.icon
  height: 32px
  width: 32px
