<div>
    <ng-container *ngIf="game.joinable">
        <button class="btn btn-light RED mr-1" (click)="onJoin(game, CodeNameColor.RED)">
            Equipe Rouge
        </button>
        <button class="btn btn-light BLUE ml-1" (click)="onJoin(game, CodeNameColor.BLUE)">
            Equipe Bleue
        </button>
    </ng-container>
    <ng-container *ngIf="!game.joinable">
        <button class="btn btn-light" (click)="onReplay(game)">
            Rejoindre
        </button>
    </ng-container>
</div>
