<div class="d-flex flex-column justify-content-around align-items-center">
    <div class="p-3">
        <h4>Informations joueur</h4>
    </div>
    <div class="p-3">
        <form [formGroup]="formGroup">
            <div class="form-group d-flex flex-column align-items-center">
                <div class="p-2">
                    <label for="name">Nom joueur :</label>
                    <input formControlName="name" id="name" class="form-control">
                </div>
                <div class="p-2 d-flex flex-column">
                    <label>Icône :</label>
                    <input formControlName="icon" type="hidden" id="icon">
                    <div *ngFor="let subList of icons" class="d-flex d-inline-flex">
                        <div *ngFor="let img of subList"
                             [inlineSVG]="'/icons/' + img + '.svg'"
                             [resolveSVGUrl]="true"
                             [replaceContents]="false"
                             class="icon selector"
                             [ngClass]="{'selected': formGroup.get('icon').value === img}"
                             (click)="onSelectIcon(img)">
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-around">
                    <button class="btn btn-outline-primary m-2"
                            type="button"
                            [disabled]="!formGroup.valid"
                            (click)="onCreate()">
                        Lister les parties
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
