<app-game-header [name]="name"></app-game-header>
<div class="d-flex justify-content-center">
    <button class="btn btn-primary m-1" (click)="onStartGame()" [disabled]="!canStart">Start</button>
    <button class="btn btn-primary m-1" (click)="onResetGame()" [disabled]="!canReset()">Reset</button>
</div>
<hr/>
<div class="d-flex justify-content-center flex-column">
    <div *ngFor="let player of players"
         class="p-2 text-center d-flex flex-row justify-content-between"
         [ngClass]="{ 'font-weight-bolder': player.uuid === me.uuid }">
        <div class="flex-grow-1 ml-1 mr-3">
            {{player.name}}
        </div>
        <div class="mr-3 ml-3 score">
            {{player.statistics.score}}
        </div>
        <div class="mr-1 ml-3 score">
            +{{player.statistics.lastScore}}
        </div>
    </div>
</div>
<hr/>
<ng-container *ngFor="let player of players">
    <ng-container *ngIf="player.uuid === me.uuid && player.statistics.nbOfGames > 0">
        <div class="d-flex justify-content-center flex-column">
            <div class="p-2 d-flex flex-row justify-content-between">
                <div class="text-right flex-grow-1 ml-1 mr-3">
                    Nombre de parties
                </div>
                <div class="mr-3 ml-3 score">
                    {{player.statistics.nbOfGames}}
                </div>
            </div>
            <div class="p-2 d-flex flex-row justify-content-between">
                <div class="text-right flex-grow-1 ml-1 mr-3">
                    Moyenne de points par partie
                </div>
                <div class="mr-3 ml-3 score">
                    {{player.statistics.scoreSum / player.statistics.nbOfGames | number: '1.0-0'}}
                </div>
            </div>
            <div class="p-2 d-flex flex-row justify-content-between">
                <div class="text-right flex-grow-1 ml-1 mr-3">
                    Nombre de parties gagnées
                </div>
                <div class="mr-3 ml-3 score">
                    {{player.statistics.nbOfGamesWon}}
                </div>
            </div>
            <div class="p-2 d-flex flex-row justify-content-between">
                <div class="text-right flex-grow-1 ml-1 mr-3">
                    Pourcentage de victoire
                </div>
                <div class="mr-3 ml-3 score">
                    {{player.statistics.nbOfGamesWon / player.statistics.nbOfGames * 100 | number: '1.0-2'}}
                </div>
            </div>
            <div class="p-2 d-flex flex-row justify-content-between">
                <div class="text-right flex-grow-1 ml-1 mr-3">
                    Nombre de cartes piochées par Joker
                </div>
                <div class="mr-3 ml-3 score">
                    {{player.statistics.nbOfCardsForcePicked}}
                </div>
            </div>
            <div class="p-2 d-flex flex-row justify-content-between">
                <div class="text-right flex-grow-1 ml-1 mr-3">
                    Nombre de fois Uno
                </div>
                <div class="mr-3 ml-3 score">
                    {{player.statistics.nbOfTimesUno}}
                </div>
            </div>
            <div class="p-2 d-flex flex-row justify-content-between">
                <div class="text-right flex-grow-1 ml-1 mr-3">
                    Nombre de contre-Uno donnés
                </div>
                <div class="mr-3 ml-3 score">
                    {{player.statistics.nbOfCounterGiven}}
                </div>
            </div>
            <div class="p-2 d-flex flex-row justify-content-between">
                <div class="text-right flex-grow-1 ml-1 mr-3">
                    Nombre maximum de cartes (partie)
                </div>
                <div class="mr-3 ml-3 score">
                    {{player.statistics.maxNbOfCards}}
                </div>
            </div>
            <div class="p-2 d-flex flex-row justify-content-between">
                <div class="text-right flex-grow-1 ml-1 mr-3">
                    Nombre de cartes jouées (partie)
                </div>
                <div class="mr-3 ml-3 score">
                    {{player.statistics.nbOfCardsPlayed}}
                </div>
            </div>
        </div>
        <hr/>
    </ng-container>
</ng-container>
<div class="d-flex d-inline-flex pt-4">
    <div inlineSVG="/icons/info-circle.svg" class="pr-2"></div>
    <div>
        Afin de pouvoir commencer la partie, il faut au moins 2 joueurs.
    </div>
</div>
